* {
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  color: black;
  border: none;
}

.p-menubar {
  padding: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-class {
  height: 30px;
  width: 100%;
  margin-left:1.5rem;
}

.menu-wrapper {
  border-radius: 50px;
  background-color: #e2e0df;
  margin: 0.5rem 1rem 0 1rem;
}

.p-menubar-root-list{
  margin-right: 2rem;
  margin-left: 2rem;
}

.p-menuitem-link {
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}


.p-menuitem-link.clicked {
  background : linear-gradient(90deg, #1683e0, #1381e0, #0d7ddf, #0776de, #0b6edb, #1864d8, #2559d4, #324ecf, #3d42c9, #4538c4, #4a31c0, #4c2ebf);
  color: white;
  border-radius: 5rem;
  font-weight: 600;
  padding: 0.4rem 1rem;
}

.p-menuitem-link.clicked:hover{
  color: white;
}

.p-submenu-list {
  background-color: #96b1ce;
  margin-left: 1rem; 
  padding: 0.5rem;
  border-radius: 0.9rem;
}

.p-icon,
.p-submenu-icon {
  font-size: 1rem;
  font-weight: 600;
}

.p-icon:hover,
.p-submenu-icon:hover,
.p-menuitem-link:hover {
  color: #222588;
}
