*{
    color: black;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
  }
  
  .p-menubar{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
  }
  
  .img-class{
    width:100%;
    max-width: 7rem;
    margin-left: 20%;
    padding: .5rem;
  }
  
  .menu-wrapper{
    border-radius: 50px;
    background-color: #e2e0df;
    margin-top: .6rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .mx-2, .p-menuitem-link, .p-icon, .p-submenu-icon{
    font-size: 1rem;
    font-weight: 600;
  }
  
  .p-menuitem-text{
    border-radius: 6px;
  }
  
  .mx-2:hover{
    color: #222588;
  }
  
  .p-menuitem-text:hover{
    color: #222588;
  }
  
  .p-icon:hover{
    color: #222588;
  } 
  
  .p-submenu-icon:hover{
    color: #222588;
  }